<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="treats-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Treats
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="treats-link">
                <a href="" class="dropdown-item">Biscuits</a>
                <a href="" class="dropdown-item">Chews</a>
                <a href="" class="dropdown-item">Cookies</a>
                <a href="" class="dropdown-item">Bites</a>
                <a href="" class="dropdown-item">Muffins</a>
                <a href="" class="dropdown-item">Puffs</a>
                <a href="" class="dropdown-item">Chips</a>
                <a href="" class="dropdown-item">Balls</a>
                <a href="" class="dropdown-item">Bars</a>
                <a href="" class="dropdown-item">Squares</a>
                <a href="" class="dropdown-item">Drops</a>
                <a href="" class="dropdown-item">Patties</a>
                <a href="" class="dropdown-item">All Treats</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="" class="dropdown-item">Leashes</a>
                <a href="" class="dropdown-item">Collars</a>
                <a href="" class="dropdown-item">Harnesses</a>
                <a href="" class="dropdown-item">Beds</a>
                <a href="" class="dropdown-item">Crates</a>
                <a href="" class="dropdown-item">Carriers</a>
                <a href="" class="dropdown-item">Blankets</a>
                <a href="" class="dropdown-item">Sweaters</a>
                <a href="" class="dropdown-item">Raincoats</a>
                <a href="" class="dropdown-item">Booties</a>
                <a href="" class="dropdown-item">Bandanas</a>
                <a href="" class="dropdown-item">Bowties</a>
                <a href="" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="health-wellness-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Health & Wellness
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="health-wellness-link">
                <a href="" class="dropdown-item">Food Storage</a>
                <a href="" class="dropdown-item">Food Scoops</a>
                <a href="" class="dropdown-item">Water Fountains</a>
                <a href="" class="dropdown-item">Slow Feeders</a>
                <a href="" class="dropdown-item">Dental Chews</a>
                <a href="" class="dropdown-item">Breath Fresheners</a>
                <a href="" class="dropdown-item">Vitamins</a>
                <a href="" class="dropdown-item">Supplements</a>
                <a href="" class="dropdown-item">Probiotics</a>
                <a href="" class="dropdown-item">Flea & Tick</a>
                <a href="" class="dropdown-item">All Health & Wellness</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="home-travel-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home & Travel
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="home-travel-link">
                <a href="" class="dropdown-item">Hair Removers</a>
                <a href="" class="dropdown-item">Vacuum Cleaners</a>
                <a href="" class="dropdown-item">Odor Eliminators</a>
                <a href="" class="dropdown-item">Air Purifiers</a>
                <a href="" class="dropdown-item">Bed Warmers</a>
                <a href="" class="dropdown-item">Cooling Mats</a>
                <a href="" class="dropdown-item">Training Materials</a>
                <a href="" class="dropdown-item">Adoption Kits</a>
                <a href="" class="dropdown-item">Travel Kits</a>
                <a href="" class="dropdown-item">All Home & Travel</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="toys-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Toys
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="toys-link">
                <a href="" class="dropdown-item">Chew Toys</a>
                <a href="" class="dropdown-item">Fetch Toys</a>
                <a href="" class="dropdown-item">Puzzle Toys</a>
                <a href="" class="dropdown-item">Interactive Toys</a>
                <a href="" class="dropdown-item">Plush Toys</a>
                <a href="" class="dropdown-item">Squeaky Toys</a>
                <a href="" class="dropdown-item">All Toys</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>
